body{
    margin: 100;
    padding: 0;
    background-image: url('imagenes/fondo\ cielo.jpg');
}

.header{
    display: flex;
    flex-direction: column;
    background-color: gainsboro;
    height: 120px;
    border-radius: 20px;
    opacity: 75%;
    background-image: linear-gradient(to right, rgb(255, 255, 255) , rgba(133, 241, 255, 0.486));
}

.titulo{
    text-align: center;
    color: rgb(68, 66, 66);
}

.menu{
    display: flex;
    justify-content: space-around;
}

.menu a{
    text-decoration: none;
    padding: 10px;
    color: rgb(71, 69, 69);
    background-color: rgb(1, 200, 250);
    margin: 10px;
    border-radius: 10px;
}

.menu a:hover{
    border: 1px solid rgb(191, 251, 253);
    background-color: srgb(184, 238, 241);
    color: white;
    border-radius: 10px;

}