.tabla{
    border: 1px solid rgb(96, 255, 207);
    width: 80%;
    margin-left: 10%;
    
}

.tablatitulo{
    text-align: center;
    
}

.ttitulo{
    border:1px solid rgb(5, 60, 124);
    background-color:rgb(125, 196, 255);
    color:white;
}



.trmain th{
    border: 1px solid black;
    border-radius: 20px;
}
